/********************************************
 General Rules:
*********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Montserrat';
    font-size: 21px;
    font-weight: normal;
    background-color: #19191B;
    color: #ffffff;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

p {
    color: rgba(255, 255, 255, 0.7);
}

a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/********************************************
 Button Style:
*********************************************/

.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #f04037;
    border: 1px solid #c31a12;
    border-radius: 5px;
    transition: background-color .3s ease;
    z-index: 1;
}

.btn:hover {
    background-color: #ec5a53;
}

/********************************************
 Header Section:
*********************************************/

.header__container {
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 24px;
    font-weight: 600;
}

.header__nav {
    display: flex;
    font-size: 16px;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    padding: 5px;
    transition: color .3s ease;
}

.nav-link:hover {
    color: #f04037;
}

/********************************************
 Form Section:
*********************************************/
.form{
    position: relative;
}
.oval{
    position: absolute;
    bottom: -50%;
    transform: translateY(-50%);
}
.form__container {
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__content {
    width: 580px;
}

.form__title {
    margin-bottom: 25px;
}

.form-card {
    width: 380px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.788926);
    border-radius: 10px;
    position: relative;
}

.form-card .oval {
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-card .oval-border {
    position: absolute;
    z-index: -1;
    left: 55%;
    top: 55%;
    transform: translate(-50%, -50%);

}

.form-card form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-card label {
    position: relative;
}

.form-card label p {
    position: absolute;
    left: 5%;
    top: -10%;
    padding: 0 4px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    color: #696871;
}

.form-input--legend,
.form-card .form-input,
.form-card .form-selection {
    width: 100%;
    padding: 24px;
    margin-bottom: 20px;
    border: 1px solid #eae9f2;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #696871;
}

.form-card .form-selection {
    -webkit-appearance: none;
    background-image: url('../images/path.png');
    background-repeat: no-repeat;
    background-position-x: 280px;
    background-position-y: center;

}

.form-submit {
    padding: 20px 60px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 21px;
}

/********************************************
 Media Section:
*********************************************/

.media__container {
    padding: 100px 0;
}

.media__title {
    width: 700px;
    font-size: 60px;
    margin: 0 auto 20px;
    text-align: center;
}

.media__subtitle {
    text-align: center;
    margin-bottom: 70px;
}

.media__video {
    background-image: url('../images/video-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_play_btn {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #5454d4;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease;
}

.video_play_btn:hover{
    background-color: #6767d8;
}

/********************************************
 Features Section
*********************************************/

.features {
    border-bottom: 1px solid #242427;
}

.features__container {
    padding-bottom: 125px;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(3, 280px);
    justify-content: space-between;
    row-gap: 94px;
}

.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__image {
    width: 70px;
    height: 70px;
}

.features__title {
    margin: 13px auto 20px;
}

.features__detaile {
    font-size: 16px;
}

/********************************************
 Update Section:
*********************************************/

.update__container {
    padding: 175px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update__img-box {
    position: relative;
}

.update__img-box .oval {
    position: absolute;
    top: -15%;
    transform: translateY(-15%);
    width: 250px;
    height: 250px;
    background-color: rgba(11, 11, 117, 0.8);
    border-radius: 50%;
}

.udate__image {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.311517);
    object-fit: cover;
}

.update__content {
    width: 510px;
}

.update__btn {
    display: inline-block;
    padding: 8px 14px;
    background: #5454D4;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-bottom: 30px;
}

.update__description {
    margin-top: 30px;
    line-height: 1.7;
}

/********************************************
 Unique Feature Section:
*********************************************/

.unique {
    background-color: #1e1e20;
}

.unique__container {
    padding: 100px 0;
    text-align: center;
}

.unique__description {
    width: 630px;
    margin: 30px auto 100px;
}

.unique__img-box {
    display: flex;
    justify-content: space-between;
}

.unique__image-1 {
    width: 350px;
    height: 515px;
    object-fit: cover;
    filter: drop-shadow(0px 42px 54px rgba(0, 0, 0, 0.311517));
    border-radius: 10px;
}

.unique__image-2 {
    width: 730px;
    height: 515px;
    object-fit: cover;
    filter: drop-shadow(0px 42px 54px rgba(0, 0, 0, 0.311517));
    border-radius: 10px;
}

/********************************************
 Users Section
*********************************************/

.users {
    border-bottom: 1px solid #242427;
}

.users__container {
    padding: 130px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users__content {
    width: 555px;
}

.users__description {
    margin: 30px 0 45px;
}

.users__img-box {
    position: relative;
}

.users__img-box .oval {
    background: rgba(148, 122, 9, 0.2);
    width: 275px;
    height: 275px;
    border-radius: 50%;
    position: absolute;
    right: -5%;
    bottom: -30%;
}

.users__image {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 42px 54px rgba(0, 0, 0, 0.3);
}

/********************************************
 FAQ Section:
*********************************************/

.faq__container {
    padding: 100px 0;
    text-align: center;
}

.faq__subtitle {
    margin: 20px 0 80px;
}

.faq__list {
    text-align: left;
    display: grid;
    grid-template-columns: 520px 520px;
    justify-content: space-between;
    row-gap: 60px;
}

.faq__answer {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.7;
}

.faq__contact {
    font-size: 16px;
    margin-top: 100px;
}

.faq__contact a {
    color: #f04037;
}

/********************************************
 Banner Section
*********************************************/

.banner {
    background-color: #1e1e20;
    position: relative;
}

.banner_container {
    padding: 180px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner__title {
    width: 800px;
}

.banner .oval {
    position: absolute;
    bottom: 0;
    transform: translateY(0);

}

.banner .oval-border {
    position: absolute;
    right: 0;

}

/********************************************
 Footer Section:
*********************************************/

.footer__container {
    position: relative;
    z-index: 100;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    font-size: 24px;
    font-weight: 600;
}

.footer_list {
    display: flex;
    font-size: 16px;
}

.footer__item:not(:last-child) {
    margin-right: 40px;
}

.footer__link {
    padding: 5px;
    transition: color .3s ease;
}

.footer__link:hover {
    color: #f04037;
}

.footer__copyright {
    font-size: 16px;
}